/* 기본 설정 */
body {
    background: #e3e3e3;
    margin: 10px;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* 컨테이너 스타일 */
.container {
    max-width: 640px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 제목 */
h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

/* 문단 */
p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    margin: 0;
}

/* 구분선 */
hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

/* 테이블 구성 */
table.wiki {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

table.wiki th,
table.wiki td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

table.wiki th {
    width: 50px;
    font-size: 13px;
    font-weight: normal;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #fff;
}


textarea[readonly] {
    background-color: #f4f4f4;   /* 더 연하고 깔끔한 회색 배경 */
    color: #333;                 /* 더 나은 가독성을 위한 진한 텍스트 색상 */
    border: 1px solid #ccc;     /* 경계선 추가로 비활성 느낌 강조 */
    cursor: default;            /* 마우스 오버 시 텍스트 커서 제거 */
}

/* 버튼 스타일 */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 5px;
    width: 80px;
}

button:hover {
    background-color: #2980b9;
}

/* 라디오 버튼 및 라벨 */
input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

label {
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
}



a {
    text-decoration: none;
    color: inherit;
}

.footer {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #4C4C4C;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.footer a:hover {
    text-decoration: underline;
}